{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Cluster Particional</h1>
        </div>
        <!-- Cluster Particional -->
        <div class="row">
            <div class="col-lg-12 mb-4">       
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Subir archivo (.csv , .txt)</h6>
                </div>
                <form id="file-form" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="custom-file col-4 ml-2">
                                <input name="file" id="file" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                                <label class="custom-file-label" for="file">Seleccionar Archivo</label>
                            </div>
                        </div>
                        <br>
                        <fieldset>
                            <button id="file-btn-cluster" type="button" class="btn btn-md btn-secondary">Procesar</button>
                        </fieldset>
                    </div>
                </form>
                <div id="features-container" style="display: none;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tabla con los datos</h6>
                    </div>
                    <div class="row">
                        <div class="custom-file col-4 ml-2 ">
                            <br>
                            <div id = "tabla1">

                            </div>
                            <br>
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Agrupación</h6>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <p><b>Seleccione por que valor agrupar:</b></p>
                                    <div class="col-4">
                                        <select id="group_options" class="form-control" name="metricas_options">

                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <p><b>Seleccione el valor de la abscisa:</b></p>
                                    <div class="col-4">
                                        <select id="x_options" class="form-control" name="metricas_options">

                                        </select>
                                    </div>
                                    <br>
                                    <br>
                                    <p><b>Seleccione el valor de la ordenada:</b></p>
                                    <div class="col-4">
                                        <select id="y_options" class="form-control" name="metricas_options">

                                        </select>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <fieldset>
                                <button id="graph-dispertion-btn" type="button" class="btn btn-md btn-secondary">Ver Gráfico de Dispersión</button>
                            </fieldset>
                            <br>
                            <fieldset>
                                <button id="matriz-dispertion-btn" type="button" class="btn btn-md btn-secondary">Ver Matriz de Correlaciones y HeapMap</button>
                            </fieldset>
                            <br>
                            <div id="features-container3" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <div id = "graph_dispersion">
        
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div id="features-container4" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <div id = "pearson">
        
                                        </div>
                                        <br>
                                        <div id = "img_heatmap">
        
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div id="features-container5" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <p><b>Seleccione las variables a trabajar:</b></p>
                                        <div class="col-4">
                                            <select id="selection_options" class="form-control" name="metricas_options">
    
                                            </select>
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Variables seleccionadas:</b></p>
                                        <div class="col-4">
                                            <div id = "variables_select">
        
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <fieldset>
                                    <button id="select-btn" type="button" class="btn btn-md btn-secondary">Seleccionar Variable</button>
                                </fieldset>
                                <br>
                                <fieldset>
                                    <button id="data-create-btn" type="button" class="btn btn-md btn-secondary">Crear Data</button>
                                </fieldset>
                            </div>
                            <div id="features-container6" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <br>
                                        <p><b>Data a trabajar</b></p>
                                        <div id = "newData">
    
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <fieldset>
                                    <button id="kmeas-btn" type="button" class="btn btn-md btn-secondary">Analizar con K-means</button>
                                </fieldset>
                            </div>
                            <div id="features-container7" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Algoritmo K-Means</h6>
                                        </div>
                                        <br>
                                        <p><b>Gráfica SSE en función de k</b></p>
                                        <div id = "sse">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Knee Point</b></p>
                                        <div id = "kneepoint">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Tabla de Clusters</b></p>
                                        <div id = "table_cluster">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Gráfica de Clusters</b></p>
                                        <div id = "graph_cluster">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Tabla de Centroides</b></p>
                                        <div id = "tableCentroide">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Gráfica 3D</b></p>
                                        <div id = "3D">
    
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock%}