{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Información de Contacto</h1>
        </div>
    
        <!-- Que es Reglas de asociación -->
        <div class="row">
            <div class="col-lg-12 mb-4">       
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Por estos medios puedes contactarme...</h1>
                                                <p>Vicente García Martínez</p>
                                                <p><b>Web Analysis & BA services en Stellantis México</b></p>
                                                <hr>
                                                <p>Estudiante de 10mo semestre de la carrera de Ingeniería en Computación.</p>
                                                <p>Universidad Nacional Autónoma de México</p>
                                                <hr>
                                            </div>
                                            <form class="user">
                                                <a class="btn btn-primary btn-user btn-block">
                                                    <b>Outlook: </b>vis_97@outlook.com
                                                </a>
                                                <a class="btn btn-google btn-user btn-block">
                                                    <i class="fab fa-google fa-fw"></i> <b>Gmail: </b>vizente14@gmail.com
                                                </a>
                                                <a href="https://www.facebook.com/vicente.garcia.54540" class="btn btn-facebook btn-user btn-block">
                                                    <i class="fab fa-facebook-f fa-fw"></i> Vicente Garcia
                                                </a>
                                                <a href="https://github.com/Vizente97/" class="btn btn-success btn-user btn-block">
                                                    <b>GitHub: </b>Vizente97
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock%}