{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Análisis Exploratorio de Datos</h1>
        </div>
        <!-- EDA -->
        <div class="row">
            <div class="col-lg-12 mb-4">       
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Subir archivo (.csv)</h6>
                </div>
                <form id="file-form" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="custom-file col-4 ml-2">
                                <input name="file" id="file" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                                <label class="custom-file-label" for="file">Seleccionar Archivo</label>
                            </div>
                        </div>
                        <br>
                        <fieldset>
                            <button id="file-btn" type="button" class="btn btn-md btn-secondary">Procesar</button>
                        </fieldset>
                    </div>
                </form>
                <div id="features-container" style="display: none;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tabla con los datos</h6>
                    </div>
                    <div class="row">
                        <div class="custom-file col-4 ml-2">
                            <br>
                            <div id = "tabla_data">

                            </div>
                            <br>
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Configuración de los datos</h6>
                            </div>
                            <br>
                            <div class="row">
                                <p><b>Seleccione la Columna con la cual se va a filtrar:</b></p>
                                <div class="col-4">
                                    <select id="column_options" class="form-control" name="column_options">

                                    </select>
                                </div>
                                <br>
                                <p><b>Seleccione el valor de la fila a filtrar:</b></p>
                                <div class="col-4">
                                    <select id="fila_options" class="form-control" name="fila_options">
                                        <option value="all">Todas</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <fieldset>
                                <button id="analize-btn" type="button" class="btn btn-md btn-secondary">Analizar</button>
                            </fieldset>
                            <br>
                            <div id="features-container2" style="display: none;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Descripción de la esctructura de los datos</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id = "tamano_data">
        
                                        </div>
                                        <div id = "data_type">
        
                                        </div>
                                        <br>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Datos nulos</h6>
                                        </div>
                                        <div id = "data_nulos">
        
                                        </div>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Valores Atípicos</h6>
                                        </div>
                                        <br>
                                        <div id = "data_atipico">
        
                                        </div>
                                        <br>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Resúmen estadístico de variables numéricas</h6>
                                        </div>
                                        <br>
                                        <div id = "resumen_atipico">
        
                                        </div>
                                        <br>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Identificación de relación entre pares variables</h6>
                                        </div>
                                        <br>
                                        <div id = "relation_values">
        
                                        </div>
                                        <br>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Heapmap de relación entre par de variables</h6>
                                        </div>
                                        <br>
                                        <div id = "heap">
        
                                        </div>
                                        <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock%}