{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Presentación</h1>
        </div>
    
    <!-- Que es minería -->
    <div class="row">
        <div class="col-lg-12 mb-4">       
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">¿Qué es la mineria de datos?</h6>
            </div>
            <div class="card-body">
                <p> Es la exploración y análisis inteligente de grandes cantidades de datos para descubrir reglas y patrones significativos a partir de 
                    un conjunto de datos, adicionalmente se puede ver como el proceso computacional para la exploración y análisis inteligente de datos 
                    como apoyo para el proceso de la toma de decisiones</p>
                <p> Hay aspectos importantes los cuales han ayudado al crecimiento y desarrollo de la minería de datos, como por ejemplo:</p>
                <ul>
                    <li> La creciente disponibilidad de información en Internet.</li>
                    <li> La presión competitiva del mercado en una economía globalizada. </li>
                    <li> El desarrollo de herramientas libres y comerciales para llevar a cabo la minería de datos.</li>
                </ul>
                <p> Se tienen áreas en las que puede ser aplicada:</p>
                <ul>
                    <li> Finanzas.</li>
                    <li> Análisis de mercado.</li>
                    <li> Procesos industriales.</li>
                    <li> Medicina.</li>
                    <li> Biología.</li>
                </ul>
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 20rem;"
                        src="static/img/data-mining.svg" alt="">
                </div>
            </div>
        </div>
        </div> 
    </div>

     <!-- Objetivo -->
     <div class="row">
        <div class="col-lg-12 mb-4">       
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Objetivo del proyecto</h6>
            </div>
            <div class="card-body">
                <p> Este es el proyecto para la clase de Minería de Datos para el semestre 2021-2. El objetivo de este proyecto es mostrar algunos Algoritmos
                    utilizados en esta materia asi como una implementación que se podrá usar en linea.
                </p>
                <p> Algoritmos implementados:</p>
                <ul>
                    <li> EDA.</li>
                    <li> Selección de Características.</li>
                    <li> Métricas.</li>
                    <li> PCA.</li>
                    <li> Cluster Particional (K-Means).</li>
                    <li> Reglas de asociación (Apriori).</li>
                </ul>
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 35rem;"
                        src="static/img/objetivo.jpg" alt="">
                </div>
            </div>
        </div>
        </div> 
    </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock%}