{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Métricas</h1>
        </div>
        <!-- EDA -->
        <div class="row">
            <div class="col-lg-12 mb-4">       
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Subir archivo (.csv)</h6>
                </div>
                <form id="file-form" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="custom-file col-4 ml-2">
                                <input name="file" id="file" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                                <label class="custom-file-label" for="file">Seleccionar Archivo</label>
                            </div>
                        </div>
                        <br>
                        <fieldset>
                            <button id="file-btn" type="button" class="btn btn-md btn-secondary">Procesar</button>
                        </fieldset>
                    </div>
                </form>
                <div id="features-container" style="display: none;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tabla con los datos</h6>
                    </div>
                    <div class="row">
                        <div class="custom-file col-4 ml-2">
                            <br>
                            <div id = "tabla_data">

                            </div>
                            <br>
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Selección de Métrica</h6>
                            </div>
                            <br>
                            <div class="row">
                                <p><b>Seleccione la métrica a implementar:</b></p>
                                <div class="col-4">
                                    <select id="metricas_options" class="form-control" name="metricas_options">
                                        <option value="euclidean"selected>Euclidiana</option>
                                        <option value="chebyshev" >Chebyshev</option>
                                        <option value="cityblock">Manhattan</option>
                                        <option value="minkowski">Minkowski</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <fieldset>
                                <button id="analize-metric-btn" type="button" class="btn btn-md btn-secondary">Analizar</button>
                            </fieldset>
                            <br>
                            <div id="features-container2" style="display: none;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Matriz de Distancia</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div id = "tablamatriz">
        
                                        </div>
                                        <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock%}