{% extends 'template_base.html'%}

{% block content%}
<!-- Main Content -->
<div id="content">
    <br>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-1 text-gray-800">Regresión Lineal</h1>
        </div>
        <!-- Cluster Particional -->
        <div class="row">
            <div class="col-lg-12 mb-4">       
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Subir archivo (.csv)</h6>
                </div>
                <form id="file-form" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="custom-file col-4 ml-2">
                                <input name="file" id="file" type="file" class="custom-file-input" lang="es" accept=".csv, .txt">
                                <label class="custom-file-label" for="file">Seleccionar Archivo</label>
                            </div>
                        </div>
                        <br>
                        <fieldset>
                            <button id="file-btn-regresion" type="button" class="btn btn-md btn-secondary">Procesar</button>
                        </fieldset>
                    </div>
                </form>
                <div id="features-container" style="display: none;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tabla con los datos</h6>
                    </div>
                    <div class="row">
                        <div class="custom-file col-4 ml-2 ">
                            <br>
                            <div id = "tabla1">

                            </div>
                            <br>
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Selección de Data</h6>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <p><b>Seleccione las variables de la nueva Data:</b></p>
                                    <div id = "tabla2">

                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                            <fieldset>
                                <button id="new-data-regresion-btn" type="button" class="btn btn-md btn-secondary">Crear nueva Data</button>
                            </fieldset>
                            <br>
                            <div id="features-container2" style="display: none;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Nueva Data</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <div id = "tabla3">
        
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div id="features-container3" style="display: none;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Selección de variables</h6>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <p><b>Seleccione las variables predictorias:</b></p>
                                        <div id = "tabla4">
    
                                        </div>
                                        <br>
                                        <p><b>Seleccione la variable a pronosticar:</b></p>
                                        <div class="col-4">
                                            <select id="y_pronosticar" class="form-control" name="y_pronosticar">

                                            </select>
                                        </div>
                                        <br>
                                        <p><b>Indique el valor del tamaño de test (ej. 20% - 0.2):</b></p>
                                        <div class="col-4">
                                            <input type="number" id="test" name="test" min="0.01" max="1" class="form-control" style="width: 100%">
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <fieldset>
                                    <button id="model-btn" type="button" class="btn btn-md btn-secondary">Crear y entrenar Modelo</button>
                                </fieldset>
                                <br>
                            </div>
                            <div id="features-container4" style="display: none;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Resultados del modelo</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <div id = "exactitud">
    
                                        </div>
                                        <br>
                                        <div id = "tabla5">
    
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <fieldset>
                                    <button id="select-btn" type="button" class="btn btn-md btn-secondary">Guardar Modelo</button>
                                </fieldset>
                                <br>
                            </div>
                            <div id="features-container6" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <br>
                                        <br>
                                        <p><b>Data a trabajar</b></p>
                                        <div id = "newData">
    
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <fieldset>
                                    <button id="kmeas-btn" type="button" class="btn btn-md btn-secondary">Analizar con K-means</button>
                                </fieldset>
                            </div>
                            <div id="features-container7" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Algoritmo K-Means</h6>
                                        </div>
                                        <br>
                                        <p><b>Gráfica SSE en función de k</b></p>
                                        <div id = "sse">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Knee Point</b></p>
                                        <div id = "kneepoint">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Tabla de Clusters</b></p>
                                        <div id = "table_cluster">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Gráfica de Clusters</b></p>
                                        <div id = "graph_cluster">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Tabla de Centroides</b></p>
                                        <div id = "tableCentroide">
    
                                        </div>
                                        <br>
                                        <br>
                                        <p><b>Gráfica 3D</b></p>
                                        <div id = "3D">
    
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div id="separator" style="height: 100px; background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock%}